body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f3f3;
}

.pic-dev{
    width: auto;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.nome-dev{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.container-dev{
    color: #fff;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(../images/common-bg.svg);
    background-position: center;
    min-height: 60rem;
    max-height: 120rem;
    position: relative;
    

}

.home-hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.home-hero-content h1{
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.text-dev{
    color: #333;
    font-size: 20px;
    text-align: center;
    width: 100%;
    max-width: 800px;
    line-height: 1.6
}

.faculdade{
    text-decoration: underline;
    color: black;
}

.btn-projetos{
    background: #7843E9;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px 40px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform .3s;
}

.btn-projetos:hover{
    transform: translateY(-5px);
}

.about__content-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.title{
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin-left: 25px;
    text-align: center;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.skills__skill{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #928c8c67;
    color: #333;
}

.text-about{
    color: #333;
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
}
/* Ajustando o tamanho e o comportamento da imagem */
.img-projects {
    width: 100%;
    max-width: 70%; /* Define uma largura máxima para a imagem */
    height: auto;
    border-radius: 5px;
    margin: 0 auto; /* Centraliza a imagem */
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.8);
    display: block; /* Garante que a imagem se comporte como um bloco para o margin:auto funcionar */
}

.container-projects {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: flex-start; /* Alinha os itens no topo */
    flex-direction: row;
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte, se necessário */
    width: 100%;
}

.project-description {
    margin-right: 140px;
    padding: 10px;
    text-align: center; /* Alinha o texto da descrição ao centro */
    max-width: 500px;  /* Limita a largura da descrição */
    margin-top: 20px;  /* Adiciona um espaço no topo */
}

/* Responsividade para telas pequenas */
@media screen and (max-width: 768px) {
    .container-projects {
        flex-direction: column;
        align-items: center; /* Centraliza os itens na coluna */
    }
    .img-projects {
        width: 100%; /* A imagem ocupa toda a largura disponível */
        margin: 10px auto; /* Centraliza as imagens */
    }
    .project-description {
        margin: 10px 0;
        text-align: center; /* Garante que o texto fique centralizado também em telas pequenas */
    }
}

/* Ajustes para telas maiores que 769px */
@media screen and (min-width: 769px) {
    .img-projects {
        width: 60%; /* Para telas maiores, a imagem ocupa 60% */
    }
    .project-description {
        margin-left: 20px;  /* Dá uma margem à esquerda da descrição */
    }
}

.sub-title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-left: 25px;
    text-align: center; /* Centraliza o título */
}
